.App {
  background-image: url(https://static.vecteezy.com/ti/vecteur-libre/p1/1814603-bleu-clair-vert-vecteur-abstrait-flou-fond-vectoriel.jpg);
  height: 980px;
  text-align: center;
}
.bouton{
  height: 70px;
  width : 100px;
  border-radius: 20px;
  font-size: large;
  color: white;
  background-color: green;
}
.counter{
  height: 40px;
  width : 100px;
  border-radius: 20px;
  font-size: large;
  color: white;
  background-color: green;
margin-left: 550px;
text-align: center;
}